.advanced {
  min-height: 42rem;
  margin-top: 10rem;
  width: 100%;
  .advanced-wrapper {
    border-radius: 40px;

  }
  padding: 2rem;
  .advanced-big {
    width: 100%;
  }

  span {
    background: linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;

    line-height: 20px;
  }
  h2 {
    font-size: 30px;
    margin-top: 4rem;
  }
  h3 {
    font-size: 20px;
  }
}
.advanced-height{
  margin-bottom: 2rem;
}